In [70]:
#add dependencies
import pandas as pd

#create variable to hold path for csv file
HOP_purchase_data = "Resources/HOP_purchase_data.csv"

#read csv file and store in pd frame
original_df = pd.read_csv(HOP_purchase_data)

#print head to view first 5 rows of dat and column headers
original_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [71]:
#Total Players
#create variable to hold unique user names in SN column and find length of column for total unique player names
playerNames = len(original_df["SN"].unique())

#create new data frame for total players
totalPlayers_df = pd.DataFrame({"Total Players": [playerNames]})
totalPlayers_df

   Total Players
0            576

In [110]:
#Purchasing Analysis (Total)
#use original df for purchasing Analysis (Total)
#create varibales to hold specific values

uniqueItems = len(original_df["Item Name"].unique())
totalPrice = sum(original_df["Price"])
averagePrice = round(totalPrice / len(original_df["Price"]), 2)
totalPurchases = len(original_df["Purchase ID"])

#create new data frame for Purchasing Analysis (Total)
purchasingAnalysis_df = pd.DataFrame({"Number of Unique Items": [uniqueItems],
                                     "Average Price": [averagePrice],
                                     "Number of Purchases": [totalPurchases],
                                     "Total Revenue": [totalPrice]})
purchasingAnalysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [119]:
#Gender Demographics

#create new DF with SN and Gender columns then drop duplicates
nameGender_df = original_df[["SN", "Gender"]]

#created variable for de deplicated df
uniqueGenders_df = nameGender_df.drop_duplicates()

#creat variables for values of genders
totalGenders = len(uniqueGenders_df)
malePlayers = uniqueGenders_df["Gender"].value_counts()['Male']
femalePlayers = uniqueGenders_df["Gender"].value_counts()['Female']
otherPlayers = uniqueGenders_df["Gender"].value_counts()['Other / Non-Disclosed']

#caluclate percentages
percentMale = 
percentFemale = 
percentOther = 

#create new df for Gender Demographics
GenderDemographics_df = pd.DataFrame 
GenderDemographics_df

11

In [ ]:
#