In [80]:
#add dependencies
import pandas as pd

#create variable to hold path for csv file
HOP_purchase_data = "Resources/HOP_purchase_data.csv"

#read csv file and store in pd frame
original_df = pd.read_csv(HOP_purchase_data)

#print head to view first 5 rows of dat and column headers
original_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [90]:
#Top Spenders

#group purchases by SN
topSpenders = original_df.groupby("SN")

#count purchased items
spenderPurchaseCount = topSpenders["Purchase ID"].count()

#count purchased items
spenderPurchaseAverage = topSpenders["Price"].mean()

#Total Purchase Value
spenderPurchasesTotal = topSpenders["Price"].sum()

#create new data frame with appropriste columns
topSpenders_df = pd.DataFrame({"Purchase Count": spenderPurchaseCount, 
                               "Average Purchase Price": spenderPurchaseAverage, 
                               "Total Purchase Value": spenderPurchasesTotal}]


#sort descending then format cells with correct values
formatedTopSpender = topSpenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

formatedTopSpender["Average Purchase Price"] = topSpformatedTopSpenderenders_df["Average Purchase Price"].map("${:,.2f}".format)
topSpendformatedTopSpenderers_df["Total Purchase Value"] = topSpeformatedTopSpendernders_df["Total Purchase Value"].map("${:,.2f}".format)

TypeError: 'type' object is not subscriptable