In [2]:
#add dependencies
import pandas as pd

#create variable to hold path for csv file
HOP_purchase_data = "Resources/HOP_purchase_data.csv"

#read csv file and store in pd frame
original_df = pd.read_csv(HOP_purchase_data)

#print head to view first 5 rows of dat and column headers
original_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [10]:
#Top Spenders

#create df for Sn
snGrouped = original_df.groupby[("SN")]

snGrouped.head()

TypeError: 'method' object is not subscriptable

In [12]:
#create variables for calculations
purchaseCount = len(original_df["Purchase ID"])
averagePurchasePrice = mean(original_df["Price"])
totalPurchasePrice = sum(original_df["Price"])

#create a summary table of purchasing by gender
topSpenders_df = pd.DataFrame({"Purchase Count": purchaseCount, 
                              "Average Purchase Price": averagePurchasePrice, 
                              "Total Purchase Price": totalPurchasePrice})
#sort descending order
topSpenders_df = topSpenders_df.sort_values(["Total Purchase Value"], ascending=False)

topSpenders_df.head()

NameError: name 'mean' is not defined