In [70]:
#add dependencies
import pandas as pd

#create variable to hold path for csv file
HOP_purchase_data = "Resources/HOP_purchase_data.csv"

#read csv file and store in pd frame
original_df = pd.read_csv(HOP_purchase_data)

#print head to view first 5 rows of dat and column headers
original_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [71]:
#Total Players
#create variable to hold unique user names in SN column and find length of column for total unique player names
playerNames = len(original_df["SN"].unique())

#create new data frame for total players
totalPlayers_df = pd.DataFrame({"Total Players": [playerNames]})
totalPlayers_df

   Total Players
0            576

In [72]:
#Purchasing Analysis (Total)
#use original df for purchasing Analysis (Total)
#create varibales to hold specific values

uniqueItems = len(original_df["Item Name"].unique())
totalPrice = sum(original_df["Price"])
averagePrice = totalPrice / len(original_df["Price"])
totalPurchases = len(original_df["Purchase ID"])

#create new data frame for Purchasing Analysis (Total)
purchasingAnalysis_df = pd.DataFrame({"Number of Unique Items": [uniqueItems],
                                     "Average Price": [averagePrice],
                                     "Number of Purchases": [totalPurchases],
                                    "Total Revenue": [totalPrice]})

#format appropriate cells to currency
purchasingAnalysis_df["Average Price"] = purchasingAnalysis_df["Average Price"].map("${:,.2f}".format)
purchasingAnalysis_df["Total Revenue"] = purchasingAnalysis_df["Total Revenue"].map("${:,.2f}".format)

purchasingAnalysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [73]:
#Gender Demographics

#create new DF with SN and Gender columns then drop duplicates
nameGender_df = original_df[["SN", "Gender"]]

#created variable for de deplicated df
uniqueGenders_df = nameGender_df.drop_duplicates()

#creat variables for values of genders
totalGenders = len(uniqueGenders_df)
malePlayers = uniqueGenders_df["Gender"].value_counts()['Male']
femalePlayers = uniqueGenders_df["Gender"].value_counts()['Female']
otherPlayers = uniqueGenders_df["Gender"].value_counts()['Other / Non-Disclosed']

#caluclate percentages
percentMale = round((malePlayers / totalGenders * 100), 2)
percentFemale = round((femalePlayers / totalGenders * 100), 2)
percentOther = round((otherPlayers / totalGenders * 100), 2)

#create new df for Gender Demographics
genderDemographics_df = pd.DataFrame([{"": "Male", "Total Count": malePlayers, "Percentage of Players": percentMale}, 
                                     {"": "Female", "Total Count": femalePlayers, "Percentage of Players": percentFemale}, 
                                    {"": "Other / Non-Disclosed", "Total Count": otherPlayers, "Percentage of Players": percentOther}])
#format appropriate cells to %
genderDemographics_df["Percentage of Players"] = genderDemographics_df["Percentage of Players"].map("{:,.2f}%".format)

#reset index to remove row #'s
reIndexedGenderDemographics_df = genderDemographics_df.set_index("")

reIndexedGenderDemographics_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [74]:
#Purchasing Analysis (Gender)

#use groupby for data
genderPurchases = original_df.groupby(["Gender"])

#count total items
purchaseCount = genderPurchases["Purchase ID"].count()
#average price by each group
averagePurchase = genderPurchases["Price"].mean()
#total price for each gender
totalPurchase = genderPurchases["Price"].sum()

#calculate average purchase per person
personAveragePurchase = totalPurchase / playerNames  

#create a summary table of purchasing by gender
genderPurchases_df = pd.DataFrame({"Purchase Count": purchaseCount,
                                  "Average Purchase Price": averagePurchase,
                                  "Total Purchase Value": totalPurchase, 
                                  "Average Total Purchase per Person": personAveragePurchase
                                  })

genderPurchases_df["Average Purchase Price"] = genderPurchases_df["Average Purchase Price"].map("${:.2f}".format)
genderPurchases_df["Total Purchase Value"] = genderPurchases_df["Total Purchase Value"].map("${:.2f}".format)
genderPurchases_df["Average Total Purchase per Person"] = genderPurchases_df["Average Total Purchase per Person"].map("${:.2f}".format)

genderPurchases_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$0.63
Male,652,$3.02,$1967.64,$3.42
Other / Non-Disclosed,15,$3.35,$50.19,$0.09

In [76]:
#Age Demographics

#create bins for ages
ageBins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 150]
ageBinsNames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Slice data intogroupd using pd.cut
original_df["Age Group"] = pd.cut(original_df["Age"], ageBins, labels = ageBinsNames,)

#group data into bins
ageGroup = original_df.groupby("Age Group")

#count number of unique plapyers by age for age group
totalCountAge = ageGroup["SN"].nunique()

#percentage of players by age group
percentAgeGroup = (totalCountAge / playerNames) * 100

#create new data frame with appropriate columns
ageDemographics_df = pd.DataFrame({"Total Player Count": totalCountAge, "Percent of Players": percentAgeGroup})

#add % to percent values
ageDemographics_df["Percent of Players"] = ageDemographics_df["Percent of Players"].map("{:,.2f}%".format)

ageDemographics_df

           Total Player Count Percent of Players
Age Group
<10                        17              2.95%
10-14                      22              3.82%
15-19                     107             18.58%
20-24                     258             44.79%
25-29                      77             13.37%
30-34                      52              9.03%
35-39                      31              5.38%
40+                        12              2.08%

In [77]:
#Purchasing Analysis by Age
countPurchases = ageGroup["Purchase ID"].count()

#average Purchase Price
averagePurchasePrice = ageGroup["Price"].mean()

#total purcahse value
totalPurchaseValue = ageGroup["Price"].sum()

#average total purchase per person
averagePersonPurchase = totalPurchaseValue / totalCountAge

#create new data frame with appropriste columns
purchaseAnalysisByAge = pd.DataFrame({"Purchase Count": countPurchases,
                                     "Average Purchase Price": averagePurchasePrice,
                                     "Total Purchase Value": totalPurchaseValue,
                                     "Average Total Purchase Per Person": averagePersonPurchase})

purchaseAnalysisByAge["Average Purchase Price"] = purchaseAnalysisByAge["Average Purchase Price"].map("${:,.2f}".format)
purchaseAnalysisByAge["Total Purchase Value"] = purchaseAnalysisByAge["Total Purchase Value"].map("${:,.2f}".format)
purchaseAnalysisByAge["Average Total Purchase Per Person"] = purchaseAnalysisByAge["Average Total Purchase Per Person"].map("${:,.2f}".format)

purchaseAnalysisByAge

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19