In [207]:
#add dependencies
import pandas as pd

#create variable to hold path for csv file
HOP_purchase_data = "Resources/HOP_purchase_data.csv"

#read csv file and store in pd frame
original_df = pd.read_csv(HOP_purchase_data)

#print head to view first 5 rows of dat and column headers
original_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [208]:
#Total Players
#create variable to hold unique user names in SN column and find length of column for total unique player names
playerNames = len(original_df["SN"].unique())

#create new data frame for total players
totalPlayers_df = pd.DataFrame({"Total Players": [playerNames]})
totalPlayers_df

   Total Players
0            576

In [209]:
#Purchasing Analysis (Total)
#use original df for purchasing Analysis (Total)
#create varibales to hold specific values

uniqueItems = len(original_df["Item Name"].unique())
totalPrice = sum(original_df["Price"])
averagePrice = round(totalPrice / len(original_df["Price"]), 2)
totalPurchases = len(original_df["Purchase ID"])

#create new data frame for Purchasing Analysis (Total)
purchasingAnalysis_df = pd.DataFrame({"Number of Unique Items": [uniqueItems],
                                     "Average Price": [averagePrice],
                                     "Number of Purchases": [totalPurchases],
                                     "Total Revenue": [totalPrice]})
purchasingAnalysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [210]:
#Gender Demographics

#create new DF with SN and Gender columns then drop duplicates
nameGender_df = original_df[["SN", "Gender"]]

#created variable for de deplicated df
uniqueGenders_df = nameGender_df.drop_duplicates()

#creat variables for values of genders
totalGenders = len(uniqueGenders_df)
malePlayers = uniqueGenders_df["Gender"].value_counts()['Male']
femalePlayers = uniqueGenders_df["Gender"].value_counts()['Female']
otherPlayers = uniqueGenders_df["Gender"].value_counts()['Other / Non-Disclosed']

#caluclate percentages
percentMale = round((malePlayers / totalGenders * 100), 2)
percentFemale = round((femalePlayers / totalGenders * 100), 2)
percentOther = round((otherPlayers / totalGenders * 100), 2)

#create new df for Gender Demographics
genderDemographics_df = pd.DataFrame([{"": "Male", "Total Count": malePlayers, "Percentage of Players": percentMale}, 
                                     {"": "Female", "Total Count": femalePlayers, "Percentage of Players": percentFemale}, 
                                    {"": "Other / Non-Disclosed", "Total Count": otherPlayers, "Percentage of Players": percentOther}])

#reset index to remove row #'s
reIndexedGenderDemographics_df = genderDemographics_df.set_index("")
reIndexedGenderDemographics_df

                       Total Count  Percentage of Players

Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [250]:
#Purchasing Analysis (Gender)

#use groupby for data
genderPurchases = original_df.groupby(["Gender"])
avgPurchaseGender = original_df.groupby(["Gender", "SN"])

#create a summary table of purchasing by gender
genderPurchases_df = pd.DataFrame({"Purchase Count": genderPurchases['Purchase ID'].count(),
                                  "Average Purchase Price": genderPurchases['Price'].mean(),
                                  "Total Purchase Value": genderPurchases['Price'].sum(), 
                                 "Average Total Purchase per Person": avgPurchaseGender['Price'].mean()})
genderPurchases_df

TypeError: Expected tuple, got str